.container {
  width: 100%;
  height: 20%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.imgcontainer{
  margin-left: 1%;
  padding-top: 10px;
}
img{ 
  width:525px;
  height: 300px;
}

.apresentantion{
  padding-top: 3%;
}

.apresentantion h1{
  padding-top: 0px;
  font-family: "ModestoW00-Initials";
  color: #ee4036;
  font-size: 27px;
  cursor: default;
}
.apresentantion p {
  padding-top: 10px;
  width: 60%;
  margin: auto ;
  font-size: 16px;
  color: #12113d;
  font-weight: 500;
}