@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url(//db.onlinewebfonts.com/c/af1155f85c206cbe07c7774b7ce884e8?family=ModestoW00-Initials);


*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-color: #faac18;
  -webkit-font-smoothing: antialiased
}
button {
  cursor: pointer
}

